<div class="comment-bubble discussion-comment-player">
  <mat-spinner [hidden]="!loading"></mat-spinner>
  <div [hidden]="loading">
    <h4 id="discussion-title">
      Discussion {{ discussion.status }}
      <mat-icon aria-label="discussion comment status">question_answer</mat-icon>
    </h4>
    <mat-divider></mat-divider>
    <div>
      <!-- <p>Response recorded on: {{discussion.time_completed || "undefined"}}</p> -->
      <div *ngIf="discussion.status === 'opened' && isNotStudent">
        Warning: The student has opened the discussion prompts without sending a response.
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="space-around center"
        [hidden]="!responseAvailable"
        class="audio-comment-container"
      >
        <ng-waveform
          #waveform
          style="width: 200px"
          class="waveform"
          [src]="playbackSrc.url"
          [height]="110"
          [useRegion]="true"
          backgroundColor="rgba(255, 255, 255, 0)"
          regionBackgroundColor="rgba(255, 255, 255, 0.5)"
          regionStartStickColor="#21f032"
          regionEndStickColor="red"
          regionTextColor="#09417e"
          [withRegionLabels]="false"
          waveColor="#ffffff"
        >
        </ng-waveform>
        <button mat-icon-button (click)="onPausePlayClick()" style="color: white">
          <mat-icon>{{ waveFormisPlaying ? 'pause_circle_outline' : 'play_circle_outline' }}</mat-icon>
        </button>

        <mat-button-toggle-group value="response">
          <mat-button-toggle
            *ngFor="let key of discussion.number_of_prompts | asCollection"
            matTooltip="'Play selected discussion prompt"
            matTooltipPosition="above"
            (click)="setPromptTrack('prompt', key)"
            aria-label="Prompt toggle"
          >
            P{{ key + 1 }}
          </mat-button-toggle>

          <mat-button-toggle
            matTooltip="Play full response, jumping to after the first prompt"
            matTooltipPosition="above"
            (click)="setPromptTrack('response')"
            aria-label="response toggle"
          >
            Response
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div [hidden]="responseAvailable || isNotStudent">
      <p>Your tutor would like to discuss this task with you.</p>
      <button id="startDiscussionBtn" mat-flat-button (click)="beginDiscussion()">Begin</button>
    </div>
  </div>
</div>
